In [2]:
import pandas as pd
import numpy as np

In [3]:
pymoli = pd.read_csv("/Users/teresalee/Desktop/purchase_data.csv")

In [126]:
# Total Number of Players
pymoli["SN"].value_counts()

Lisosia93        5
Idastidru52      4
Iral74           4
Hada39           3
Iskadarya95      3
Iri67            3
Strithenu87      3
Phyali88         3
Rarallo90        3
Idai61           3
Chanastnya43     3
Lisim78          3
Tyisur83         3
Haillyrgue51     3
Tyidaim51        3
Ialallo29        3
Inguron55        3
Asur53           3
Aina42           3
Aelin32          3
Hiaral50         3
Silaera56        3
Ilarin91         3
Yathecal82       3
Chamimla85       3
Lisopela58       3
Chamjask73       3
Saistyphos30     3
Saedaiphos46     3
Raesty92         3
                ..
Cosadar58        1
Philodil43       1
Raysistast71     1
Sundjask71       1
Hyaduesu61       1
Asty82           1
Eoral49          1
Lirtirra37       1
Aeralria27       1
Aelaria33        1
Lisirra58        1
Syalollorap93    1
Jiskossa61       1
Chamast86        1
Aiduesu86        1
Assilsan72       1
Lisovynya38      1
Hala31           1
Ililsasya43      1
Chamiman85       1
Hisridru55       1
Tyaenasti87      1
Aidaira26        1
Lisico81         1
Ethrasyon38      1
Alarap40         1
Hariphos58       1
Lisotesta51      1
Frichosiala98    1
Lisilsa62        1
Name: SN, Length: 576, dtype: int64

In [127]:
# Number of Unique Items
unique_items = pymoli["Item ID"].value_counts()
unique_items.head()

178    12
82      9
108     9
145     9
92      8
Name: Item ID, dtype: int64

In [55]:
# Average Purchase Price
Avg_Price = pymoli["Price"].mean()
Avg_Price = ("${r:1.2f}".format(r=Avg_Price))
Avg_Price

'$3.05'

In [58]:
# Total Number of Purchases
Total_Purchased = pymoli["Purchase ID"].count()
Total_Purchased

780

In [59]:
# Total Revenue
Total_Revenue = pymoli['Price'].sum()
Total_Revenue

2379.77

In [73]:
# New Table for Purchasing Analysis
new_pymoli= pd.DataFrame([{"Number of Unique Items":576, "Average Price": "$"+str(3.05), "Number of Purchases":780, "Total Revenue":"$"+str(2379.77)}])
new_pymoli

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     576      $2379.77

In [109]:
# Percentage and Count of Male Players
pymoli_male = pymoli.loc[pymoli["Gender"]=="Male"]
unique_male = pymoli_male["SN"].value_counts()
percentage_male = 484/576

# Percentage and Count of Female Players
pymoli_female = pymoli.loc[pymoli["Gender"]=="Female"]
unique_female = pymoli_female["SN"].value_counts()
percentage_female = 81/576

# Percentage and Count of pOther / Non-Disclosed
pymoli_other = pymoli.loc[pymoli["Gender"]=="Other / Non-Disclosed"]
unique_other = pymoli_other["SN"].value_counts()
percentage_other = 11/576

In [125]:
# New Table for Gender Demographics
gender_pymoli = pd.DataFrame({"Gender": ["Male", "Female", "Other"], "Total Count": [484, 81, 11], "Percentage of Player": [84.03, 14.06,.019]})

In [126]:
gender_pymoli

   Gender  Total Count  Percentage of Player
0    Male          484                84.030
1  Female           81                14.060
2   Other           11                 0.019

In [144]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# purchase count
pymoli_male["Price"].count()
# 652
# total purchase price
unique_male = pymoli_male["Price"].sum()
# $1967.64 
# avg purchase price
unique_male/652
# $3.018
# avg purhcase per person
unique_male/484
# $4.07

4.065371900826446

In [166]:
unique_male/652

3.0178527607361967

In [149]:
# purchase count
pymoli_female["Price"].count()
# 113
# total purchase price
unique_female = pymoli_female["Price"].sum()
# 361.94 
# avg purchase price
unique_female/113
# 3.20
# avg purhcase per person
pymoli_female["Price"].sum()/81
# 4.47

3.203008849557522

In [152]:
# purchase count
pymoli_other["Price"].count()
# 15
# total purchase price
unique_other = pymoli_other["Price"].sum()
# 50.19 
# avg purchase price
unique_other/15
# 3.35
# avg purhcase per person
pymoli_other["Price"].sum()/11
# 4.56

In [167]:
purchase_analysis = pd.DataFrame({"Gender": ["Male", "Female", "Other"], 
                                  "Total Purchased": [652, 113,15],
                                  "Total Price Purchased": [1967.64, 361.94, 50.19],
                                  "Average Purchase Price": [3.02, 3.20, 3.35],
                                  "Average Purhcased Per Person":[4.07, 4.47, 4.56]})

In [168]:
purchase_analysis

,Gender,Total Purchased,Total Price Purchased,Average Purchase Price,Average Purhcased Per Person
0,Male,652,1967.64,3.02,4.07
1,Female,113,361.94,3.20,4.47
2,Other,15,50.19,3.35,4.56

In [50]:
# Establish bins for ages
age = pymoli["Age"].unique()
age_bins = [1, 10, 20, 30, 40]
bin_names = ["Teenagers", "Young Adults", "Middle-Aged-Adults", "Older Adults"]
# Categorize the existing players using the age bins. Hint: use pd.cut()
pymoli["Age Group"] = pd.cut(pymoli["Age"], age_bins, labels=bin_names)

In [47]:
pymoli["Age Group"].value_counts()

Middle-Aged-Adults    402
Young Adults          254
Older Adults           85
Teenagers              32
Name: Age Group, dtype: int64

In [48]:
# Calculate the numbers and percentages by age group
pymoli["Age Group"].value_counts()/773*100

Middle-Aged-Adults    52.005175
Young Adults          32.858991
Older Adults          10.996119
Teenagers              4.139715
Name: Age Group, dtype: float64

In [49]:
# Create a summary data frame to hold the results
age_demo = pd.DataFrame({"Demographics": ["Teenagers", "Young Adults", "Middle-Aged-Adults", "Older Adults"], 
                         "Total Purchase by Age Group": [32, 254, 402, 85],
                         "Percent of Players": [4.14, 32.86,52.01, 11.00]})
age_demo
# Display Age Demographics Table

         Demographics  Total Purchase by Age Group  Percent of Players
0           Teenagers                           32                4.14
1        Young Adults                          254               32.86
2  Middle-Aged-Adults                          402               52.01
3        Older Adults                           85               11.00

In [56]:
# Bin the purchase_data data frame by age
age_bins = [1, 10, 20, 30, 40, 50]
bin_by_age = ["1-9", "10-19", "20-29", "30-39", "40-49"]
pymoli["Age Bin Group"] = pd.cut(pymoli["Age"], age_bins, labels=bin_by_age)
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [57]:
# Run basic calculations to obtain purchase count
pymoli["Age Bin Group"].value_counts()

20-29    402
10-19    254
30-39     85
1-9       32
40-49      7
Name: Age Bin Group, dtype: int64

In [75]:
# Avg. purchase price per Age Bin Group
kids_purchase = pymoli.loc[pymoli["Age Bin Group"]=="1-9"]
kids_purchase["Price"].sum()

108.96000000000001

In [76]:
teen_purchase = pymoli.loc[pymoli["Age Bin Group"]=="10-19"]
teen_purchase["Price"].sum()

778.16

In [77]:
young_adult_purchase = pymoli.loc[pymoli["Age Bin Group"]=="20-29"]
young_adult_purchase["Price"].sum()

1203.06

In [78]:
middle_adult_purchase = pymoli.loc[pymoli["Age Bin Group"]=="30-39"]
middle_adult_purchase["Price"].sum()

268.06

In [79]:
older_adult_purchase = pymoli.loc[pymoli["Age Bin Group"]=="40-49"]
older_adult_purchase["Price"].sum()

21.529999999999998

In [80]:
# Avg per person
kids_purchase["Price"].sum()/32

3.4050000000000002

In [85]:
teen_purchase["Price"].sum()/254

3.0636220472440945

In [86]:
young_adult_purchase["Price"].sum()/402

2.992686567164179

In [87]:
middle_adult_purchase["Price"].sum()/85

3.1536470588235295

In [88]:
older_adult_purchase["Price"].sum()/7

3.075714285714285

In [89]:
analysis_by_age = pd.DataFrame({"Demographics": ["1-9", "10-19", "20-29", "30-39", "40-49"],
                                "Total Purchase by Age Group": [32, 254, 402, 85, 7],
                                "Total Purchase Price per Age Group": [108.96, 778.16, 1203.06, 268.06, 21.53],
                                "Avg. Spent per Person per Age Group": [3.41, 3.06, 2.99,3.15, 3.08]})

In [90]:
analysis_by_age

,Demographics,Total Purchase by Age Group,Total Purchase Price per Age Group,Avg. Spent per Person per Age Group
0,1-9,32,108.96,3.41
1,10-19,254,778.16,3.06
2,20-29,402,1203.06,2.99
3,30-39,85,268.06,3.15
4,40-49,7,21.53,3.08

In [151]:
# Most popular item
most_popular = pymoli["Item Name"].value_counts()
most_popular_table = pd.DataFrame({"Purchase Count": most_popular})
most_popular_table.head(10)

                                              Purchase Count
Final Critic                                              13
Oathbreaker, Last Hope of the Breaking Storm              12
Persuasion                                                 9
Extraction, Quickblade Of Trembling Hands                  9
Fiery Glass Crusader                                       9
Nirvana                                                    9
Retribution Axe                                            8
Pursuit, Cudgel of Necromancy                              8
Shadow Strike, Glory of Ending Hope                        8
Lightning, Etcher of the King                              8